# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build files
/build
/obj

# Project files
*.sdf
*.opensdf
*.suo
*.vcxproj.user